<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>DEB e.V.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../stylesheets/about.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/banner.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-sm navbar-light navbar-deb">
    <div class="container-fluid">
      <a href="home.html" class="navbar-brand">
        <img src="../images/DEB-preliminary-logo.png" alt="deb-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a href="home.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="signup.html" class="btn btn-green">Support us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- CONTENT -->

  <div class="banner" background-color="green">
    <div class="container">
      <h1><strong>About us</strong></h1>
    </div>
  </div>

  <div class="text-container-allpages">
    <div class="text-container">
      <div>
        <div class="title-about">
          <h2>
            Digital Education Bridge e.V. is a fully remote NGO and registered as an association in Berlin, Germany.
          </h2>
        </div>
        <div class="title-about">
          <h2>
            DEB's aim is to offer free remote education to batches of promising teenagers in developing countries.
          </h2>
        </div>
        <h2 class="title-about">
        Who we are
        </h2>
        <p>
        Digital Education Bridge has been founded by a group of young Europeans and Latin Americans. We aim to offer new perspectives and opportunities to promising children and teenagers from developing countries. Our members believe in creating prosperity for people through the power of education.
        </p>

        <h2 class="title-about">
        History
        </h2>
        <p>
        The idea of offering free remote classes to children was born during the global pandemic in 2020. As universities and schools switched to remote classes, it became clear that remote education is possible if necessary.

        Having experienced first-hand that many teenagers in Nicaragua lack the opportunity of learning English, the chairman of the NGO decided to organise a remote English class for 9 children. This pilot project turned out to be successful - but to finance and scale future batches, the incorporation of an NGO was needed.

        DEB's first projects in 2024 are a continuation of the English class, offering the A1 level three times a week for 3 months to chosen batches of teenagers.
        </p>

        <h2 class="title-about">
        Our ambition
        </h2>
        <p>
        We plan to have hundreds of children take our English courses in the coming years. It is important to us that the children learn to speak fluently, which is why we offer courses at different levels. At a later date, our goal is to offer scholarships that will enable students to study abroad and thus apply their language skills in an academic environment.
        </p>

      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footer" id="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col text-left">
          <a href="#">
            <img src="../images/DEB-preliminary-logo.png" alt="DEB Logo" style="width: 50px; height: auto;">
          </a>
        </div>

        <div class="col text-center">
          <div class="footer-links">
            <a href="legalnotice.html" class="nav-link">Legal notice</a>
            <span class="separator"> | </span>
            <a href="dataprotection.html" class="nav-link">Data declaration</a>
          </div>
        </div>


        <div class="col text-right">
          <p>contact: info@digitaleducationbridge.org</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center copyright-text">
          <p>© 2024 Digital Education Bridge e.V. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
